html,
body {
    margin: 0;
    padding: 0;
}

body {}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    background-color: rgba(18, 95, 111, 0.5);
    margin: 0 auto;
}

.projects {
    flex-grow: 1;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 360px;
    background-color: #01272f;
}

.profile-pic {
    width: 60%;
    margin: 30px auto 10px;
    border-radius: 50%;
    border: 8px solid #ffffff;
}

span.name {
    color: #fff;
    font-family: cursive;
    font-size: 24px;
    text-align: center;
}

span.highlights {
    color: #b5a2ff;
    line-height: 18px;
    font-weight: bold;
    font-family: verdana;
    font-size: 12px;
    padding: 5px 20px;
    text-align: justify;
}

.links ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.links ul li a {
    display: block;
    height: 30px;
    margin: 5px;
}

.links ul li.main a {
    height: 40px;
}

.links ul li a img {
    width: 100%;
    height: 100%;
}

#background {
    position: absolute;
    z-index: -1;
    background-color: #ddd;
}
